p {
      color: #FFFFFF;
      font-size: 16px;
}

form {
      color: #FFFFFF;
      font-size: 16px;
}

.threecolumns {
      column-count: 3;
      column-gap: 40px;
      column-rule: 1px solid #B28ECC;
      margin-left: 10%;
      margin-right: 10%;
}

* {
      box-sizing: border-box;
}

.column {
      float: left;
      width: 20%;
      padding: 10px;
}

.row: after {
  content: "";
  display: table;
  clear: both;
}

.blue {
      color: lightblue
}

.white {
      color: white
}

.title {
      text-align: center;
}

.undersub {
      text-align: center;
      font-size: 50px;
}

body {
      background: #4D2868;
}
