p {
      color: #FFFFFF;
      font-size: 16px;
      display: block; 
      margin: 20px;
}

form {
      color: #FFFFFF;
      font-size: 16px;
}

.blue {
      color: lightblue
}

.white {
      color: white
}

.big {
      font-size: 50px;
}

.title {
    text-align: center;
}

.undersub {
    text-decoration: underline;
    text-align: center;
}
 
em {
      font-size: 25px;
}
 
body {
      background: #430973;
}
