@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    /*
        Color palette
        color: var(--colorname);
    */

    /* SCSS RGB */
    --base-color: rgba(33,34,39);
    --base-variant: rgb(123, 147, 168);
    --header-color: rgba(243,161,103);
    --subheader-color: rgba(255,242,100);
    --text-color: white;
    --bg: rgba(255,242,100, 0.25);
    --transition-speed: 0.5s;
}

.darkmode {
    --base-color: #FEF200ff;
    --base-variant: #00EDFAff;
    --header-color: #493DFDff;
    --subheader-color: #2B6EF6ff;
    --text-color: #120630ff;
    --bg: rgba(0, 237, 250, 0.25);
    --transition-speed: 0.5s;
}

body {
    background: var(--base-color);
    font-family: 'Poppins', sans-serif;
    transition: background-color var(--transition-speed) ease;
}

html {
    scroll-behavior: smooth;
}

* { 
    color:var(--text-color); 
    text-decoration: none;
}

input, select, button{
    font-family: inherit;
    font-size: inherit;
}

h1 {
    color: var(--header-color);
    font-size: 4em;
    margin-top:10px;
    margin-bottom: 10px;
}

h3 {
    color: var(--subheader-color);
    font-size: 1.5em;
    margin-top:10px;
    margin-bottom:10px;
}

#home, #projects, #tools {
    height:auto;
    width: calc(100% - 40vh - 30px);
    margin-left:17px;
}

#contact {
    width: calc(100% - 40vh - 30px);
    margin-left:17px;
    margin-bottom: 300px;
}

.topnav {
    position: fixed;
    margin: auto;
    top:20px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 15px;
    background: radial-gradient(ellipse at top, var(--header-color), transparent),
                radial-gradient(ellipse at bottom, var(--base-variant), transparent);   
    transition: all var(--transition-speed) ease;
    z-index: 1000;
}

.topnav.scrolled {
    position: fixed;
    margin: 0;
    left: 20px;
    transform: translateX(0);
    width: calc(100% - 35vh - 70px);
    z-index: 1000;
}

.topnav a {
    position: relative;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: var(--transition-speed);
    text-decoration: none;
    display: inline-block;
    transition: background-color var(--transition-speed) ease; 
}

.topnav a .icon {
    transition: all var(--transition-speed) ease;
}

.topnav a .text {
    transition: opacity var(--transition-speed) ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    padding: 7px;
    background-color: var(--subheader-color);
    border-radius: 5px;
}

.topnav a:hover .icon {
    opacity:0;
}

.topnav a:hover .text {
    opacity:1;
}

.float-box {
    position: fixed;
    justify-content: center;
    top: 130px;
    right: 30px;
    height: 50vh;
    width: 30vh;
    background: radial-gradient(var(--base-variant) 20%, var(--header-color) 65%, transparent);
    display: flex;
    border-radius: 15px 15px 15px 15px;
    transition: all var(--transition-speed) ease;
    z-index: 1000;
}

.float-box.scrolled {
    top: 20px;
    right: 30;
    height: 60vh;
    width: 35vh;
    z-index: 1000;
}

.float-box.scrolled h2 {
    font-size: 2.2em;
    color: var(--base-color);
}

#pfp {
    position: absolute;
    margin-top: 10%;
    margin-bottom: 50%;
    width: 70%;
    object-fit: cover;
    object-position: center;
}

.name {
    position:absolute;
    top: 61%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 15%;
}

.name h2 {
    font-size: 1.5em;
    color: var(--base-color);
    margin: 0;
    transition: font-size var(--transition-speed) ease;
}

audio {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 30px;
    border-radius: 50px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

.links {
    position:relative;
    top: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 7%;
}

#theme-switch {
    position:fixed;
    bottom:10px;
    right:10px;
    background-color:white;
    width:50px;
    height:50px;
    padding:0;
    border-radius:50%;
    border:none;
    box-shadow: 0 0 7px 0px var(--subheader-color);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

#theme-switch img:last-child {
    display:none;
}

.darkmode #theme-switch img:first-child {
    display:none;
}

.darkmode #theme-switch img:last-child {
    display:block;
}

.spacer {
    width: 100%;
    height: 95px;
    color:black;
}

.small-spacer {
    width: 100%;
    height: 15px;
    color: blue;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
  
 @keyframes caret {
    50% {
        border-color: transparent;
    }
}

.project {
    width:95%;
    max-width: 600px;
    height:auto;
    border-radius: 10px;
    background-color: var(--bg);
    padding: 15px;
}

.project a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    color: var(--header-color);
}

.project p {
    margin: 0;
}

.project h2 {
    margin: 0;
    margin-top: 5px;
    font-size: 1em;
    color: var(--subheader-color);
    font-style: italic;
}

#projects .full {
    margin:0;
    opacity:0;
    height:auto;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all var(--transition-speed);
}

#projects .move {
    opacity:1;
    height:auto;
    filter: blur(0);
    transform: translateX(0);
}

.tool {
    width: 130px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    margin: 0px;
    display: flex; /* Change to flex display */
    align-items: center; /* Vertically center contents */
    padding: 0 15px; /* Add some horizontal padding */
}

.tool img {
    flex-shrink: 0; /* Prevent image from shrinking */
}

.tool p {
    flex-grow: 1; /* Let text area take remaining space */
    text-align: center; /* Center the text */
    margin: 0; /* Remove default paragraph margins */
    padding-left: 10px; /* Add space between image and text */
    color: black;
}

/* Add a container for the tools */
.tools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between tools */
    padding: 0px;
}

#tools .full {
    margin:0;
    opacity:0;
    width: 130px;
    height: 80px;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all var(--transition-speed);
}

#tools .move {
    opacity:1;
    width: 130px;
    height: 80px;
    filter: blur(0);
    transform: translateX(0);
}

input[type=text],
input[type=email] {
    width: 170px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--bg);
    border:none;
}

#message {
    width:100%;
    max-width: 600px;
    height: 200px;
    border-radius: 5px;
    background-color: var(--bg);
    border:none;
    font-family: inherit;
    font-size: inherit;
}

#send {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--base-variant);
    font-size:1.2em;
    border:none;
    transition: var(--transition-speed);
    cursor: pointer;
}

#send:hover {
    background-color: var(--header-color);
    color: white;
}

@media screen and (max-width: 768px) {
    .topnav.topnav.scrolled {
        width:90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .topnav a .icon {
        height: 30px;
    }

    .topnav a .text, 
    .topnav a:hover .text{
        font-size:0.7em;
    }    

    .float-box {
        transform: translateX(150%);
    }

    #home, #projects, #tools, #contact {
        width:95%;
        margin:auto;
        box-sizing: border-box;
    }

    p {
        font-size: 0.9em;
    }
}

/* Small mobile devices */
@media screen and (max-width: 480px) {
    .tool {
        width: 100%; /* 1 tool per row on very small screens */
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }
}
